[alias]
  lg   = !git log --oneline --graph --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\"
  ci   = commit
  s    = status
  co   = checkout
  bl   = blame
  last = log -1 HEAD
  ca   = !git add -A && git commit
  del  = branch -D
  br   = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  save = !git add -A && git commit -m 'chore: commit save point'
  undo = reset HEAD~1 --mixed
  done = !git push origin HEAD
  pl   = !git pull origin main
[user]
	email = marcelo.melo@protonmail.com
	name = mmmarceleza
[core]
	editor = vim
